@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

/* Hide selection */
:not(a)::selection {
    visibility: hidden;
}

/* Style for body */
html, body {
    background-color: rgb(45, 45, 45);
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 1.75vh;
    margin: 0.25vw;
    
    color: rgb(190, 190, 190);
    cursor: default;
}

/* Style for hyperlinked text */
a {
    text-decoration: none;
    color: rgb(200, 220, 255);
}

a:hover {
    color: rgb(230, 250, 255);
    cursor: pointer;
}

/* Style the header and footer */
header, footer {
    /* background-color: rgb(210, 210, 210); */
    text-align: center;
    flex-shrink: 0;
}

header {
    padding: 2vw;
    color: rgb(250, 250, 250);
}

footer {
    /* padding: 0.5vw;
    bottom: 0.5vw;
    position: absolute;
    min-width: 98vw; */
    font-size: 1.65vh;
    color: rgb(150, 150, 150);
    padding: 0.5vw;
}

/* Style for header h1 (main page title) */
header h1 {
    font-size: 9vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 9vh;
}

/* Style for header h2 (page subtitle) */
header h2 {
    font-size: 4vh;
    margin-top: 0;
}

/* Style the unordered list in the footer */
footer ul {
    margin: 0;
    padding: 0;
}

footer ul li{
    display: block;
    margin: 0;
    font-size: 1.5vh;
}


/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
    flex-grow: 1;
}

/* Style the content */
article {
    /* background-color: rgb(200, 200, 200); */
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    min-height: 100%;
    min-width: 49vw;
}

article p, article h1, article h2, article h3, article ul, article iframe{
    margin-left: 3vw;
    margin-right: 3vw;
}

article h1, article h2, article h3 {
    color: rgb(230, 230, 230);
    padding-top: 1vh;
    padding-bottom: 0.1vh;
    margin-bottom: 0;
}

article p {
    margin-top: 0;
}

article ul {
    padding-left: 2vw;
}

article picture{
    margin-left: 7vw;
    margin-right: 7vw;
}

article picture img{
    width: auto;
    max-width: 85vw;
    padding: 2vh;
}

article iframe {
    max-width: 85vw;
    max-height: 48vw;
    min-width: 42.5vw;
    min-height: 24vw;
    padding: 2vh;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }